*.jl.cov
*.jl.*.cov
*.jl.mem
/Manifest.toml
/deps/deps.jl
/docs/build
/assets/readme_example.html
/assets/readme_example.pdf
/assets/readme_example_trimmed.log
/assets/readme_example_trimmed.pdf
/docs/Manifest.toml
/test/coverage/Manifest.toml
