
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* body */

body {
    font-family: 'Roboto Condensed', sans-serif;
}

/* table general */

table {
    border-collapse: collapse;
}

/* table header */

table thead th, table tfoot th {
    color: #eee;
    background-color: #4682b4;
}

table th + th {
    border-left: 1px dotted #b0c4de;
}

/* table rows */

table td + td {
    border-left: 1px dotted #bbb;
}

table td {
    text-align: right;
    padding-left: 0.4ex;
    padding-right: 0.4ex;
}

table tr:nth-child(odd) {
    background-color: #eeeeee;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:hover {
    background-color: #e68626;  /* a sort of ochre color */
}

/* fixed header and footer */

thead {
    position: sticky; top: 0px;
}

tfoot {
    position: sticky; bottom: 0px;
}


/* cell formatting */

.rowid {
    color: #aaa;
    font-style: italic;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.likemissing {
    color: #808000;             /* olive */
    text-align: center;
}

.nonfinite {
    color: #808000;             /* olive */
}
